In [2]:
import pandas as pd
import numpy as np

In [3]:
# 1차원 구조를 만들고 싶으면?
obj = pd.Series([1,2,3,4])
obj

0    1
1    2
2    3
3    4
dtype: int64

In [4]:
# 인덱스 정보 알고 싶으면?
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
# 실제 값을 알고 싶으면?
obj.values

array([1, 2, 3, 4])

In [6]:
# 인덱스를 지정해서 생성하고 싶으면?
obj2 = pd.Series([4,-1,21,4], index=['a','b','f','g'])
obj2

a     4
b    -1
f    21
g     4
dtype: int64

In [7]:
obj2.index

Index(['a', 'b', 'f', 'g'], dtype='object')

In [8]:
# 해당 인덱스가 있는지 확인하는 방법은?
'a' in obj2

True

In [9]:
# dict를 시리즈로 다루고 싶으면?
sdata = {'name': 'Taehoon', 'age': 12}
obj3 = pd.Series(sdata)
obj3

name    Taehoon
age          12
dtype: object

In [10]:
# null 값인지 아닌지 확인하고 싶으면?
pd.isnull(obj3)

name    False
age     False
dtype: bool

In [11]:
obj3.isnull()

name    False
age     False
dtype: bool

In [12]:
# 시리즈끼지 연산하면?
# 모든 인덱스 합
# 숫자 + NaN = NaN

In [13]:
# 인덱스의 이름을 줄 수 있다.
# 해당 이름은 column으로 지정된다.
obj3.index.name = 'person'
obj3

person
name    Taehoon
age          12
dtype: object

In [14]:
# 이차원 정보를 만들고 싶으면?
# pd.DataFrame(dict)
# pd.DataFrame(dict, columns=[])
# pd.DataFrame(dict, columns=[], index=[])

In [15]:
# column을 접근하고 싶으면?
# df.column

In [16]:
# row 기준으로 접근하고 싶으면?
# df.ix['index']

In [17]:
# 칼럼 삭제하는 방법은?
# del df[column]

In [18]:
# 기존 정보 병합하고 싶으면?
# 세로로 길게 병합하고 싶으면?
# pd.contact([df1, df2, df3]) & join
#

In [19]:
# grouping???

df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                  'B': ['one', 'one', 'two', 'three',
                      'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})

df

     A      B         C         D
0  foo    one -0.150711  0.782615
1  bar    one -0.432972 -1.926202
2  foo    two  0.868132 -0.117949
3  bar  three  0.483586 -0.117177
4  foo    two -0.500701  0.522945
5  bar    two  0.113359  0.198716
6  foo    one -1.062203 -0.924493
7  foo  three -0.148855 -1.739905

In [21]:
# 같은 값 기준으로 정보를 묶고싶다.
df.groupby('A').sum()

            C         D
A
bar  0.163972 -1.844663
foo -0.994338 -1.476787

In [22]:
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -0.432972 -1.926202
    three  0.483586 -0.117177
    two    0.113359  0.198716
foo one   -1.212913 -0.141878
    three -0.148855 -1.739905
    two    0.367430  0.404995